<config app="spriteSX devtool" version="0.9.4.0b">
  <ProjectDefaultPath>C:\Users\Casa\Desktop</ProjectDefaultPath>
  <PaletteDefaultPath>C:\Users\Casa\Desktop\spriteSXdevtool\</PaletteDefaultPath>
  <Path_SC2>
  </Path_SC2>
  <Path_Bitmap>
  </Path_Bitmap>
  <RecentProjects>
    <item index="0" path="C:\Users\Casa\Desktop\prueba.xspr" />
  </RecentProjects>
</config>